html {
	background-color: #070572;
}

.title-bar {
	display: flex;
	margin: 8px;
	position: sticky;
	top: 0;
	justify-content: center;
}

img.logo {
	padding: 12px;
	height: 64px;
	border-radius: 16px;
	position: absolute;
	left: 0;
}

img.artist {
	padding: 12px;
	height: 64px;
}

.link-box {
	display: flex;
	margin: 8px;
	justify-content: center;
}