body, html {
	height: 99%;
	background-color: black;
	background-image: url(blackpurpleBG.png);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.title-bar {
	display: flex;
	margin: 12px;
	position: sticky;
	top: 0;
	justify-content: center;
}

img.logo {
	padding: 12px;
	height: 64px;
	border-radius: 16px;
	position: absolute;
	left: 0;
}

img.artist {
	padding: 12px;
	height: 64px;
}

img.banner {
	padding: 12px;
	height: 192px;
}

.link-box {
	display: flex;
	margin: 12px;
	height: 64px;
	justify-content: center;
}