* {
	margin: 0;
	padding: 8;
}

html {
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100vh;
    margin: 0;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	padding: 12px;
	cursor: pointer;
}

.background {
	background: black;
	background-blend-mode: darken;
	background-size: cover;
}

.nav-list {
	width: 90%;
	display: flex;
	gap: 12px;
	list-style: none;
}

.logo {
	display: flex;
    padding-inline: 18px;
}

.logo img {
	width: 64px;
	border-radius: 20px;
}

.artist {
    display: flex;
    padding-inline: 18px;
}

.rightnav {
	width: 30%;
	text-align: right;
}

.firstsection {
	background-color: black;
	height: 400px;
}

.box-main {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	max-width: 80%;
	margin: auto;
}

.firsthalf {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.secondhalf {
	width: 30%;
}

.secondhalf img {
	width: 70%;
	border: 4px solid white;
	border-radius: 150px;
	display: block;
	margin: auto;
}

.text-big {
	font-family: 'Piazzolla', serif;
	font-weight: bold;
	font-size: 35px;
}

.text-small {
	font-size: 18px;
}

.btn {
	padding: 8px 20px;
	margin: 7px 0;
	border: 2px solid white;
	border-radius: 8px;
	background: none;
	color: white;
	cursor: pointer;
}

.btn-sm {
	padding: 6px 10px;
	vertical-align: middle;
}

.section {
	display: flex;
    min-height: 64px;
    max-height: 64px;
	align-items: center;
	justify-content: space-between;
    padding: 24px;
    color: black;
    background-color: black;
	margin: auto;
}

.section-Left {
	flex-direction: row-reverse;
}

.paras {
	padding: 0px 65px;
}

.thumbnail img {
	width: 250px;
	border: 2px solid black;
	border-radius: 26px;
	margin-top: 19px;
}

.center {
	text-align: center;
}

.text-footer {
	text-align: center;
	padding: 30px 0;
	font-family: 'Ubuntu', sans-serif;
    font-size: 11px;
	display: flex;
	justify-content: center;
	color: white;
}

footer {
	text-align: center;
    align-items: center;
    justify-content: space-around;
	padding: 15px;
    width: 100%;
    position: absolute;
    bottom: 0vh;

}


.rightnav {
	width: 100%;
	text-align: right;
	margin-top: 10px;
}

.btn-sm {
	padding: 8px 20px;
	margin: 7px 5px;
}

img {
	max-width: 100%;
	height: auto;
}
